a{
    color: black;
}
header{
    background-color: #999999;
    border-bottom: 1px solid black;
}
nav.navbar{
    padding: 0;
}
nav.navbar-light button.navbar-toggler{
    border-color: black;
}
span.navbar-toggler-icon{
    color: black;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}
nav.navbar a.navbar-brand{
    font-size:175%;
    padding-left: 30px;
}
button{
    margin-right: 30px;
}
li.nav-item{
    padding-left: 30px;
}
li.nav-item a{
    text-align: center;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
}
div.col-sm-12{
    background-color: #999999;
}
